body, h1, header {
    margin: 0;
    padding: 0;
}

header {
    background-color: gold;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    /* this is how sticky menues are created */
    display: flex;
    justify-content: space-around;
}

header a {
    background-color: salmon;
    padding: 0.5em;
}

.hamburger {
    position: absolute;
    right: 5px;
    top: 4px;
}

h1 {
    text-align: center;
}

.🍭 {
    position: fixed;
    bottom: 4px;
    right: 5px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    grid-template-rows: 100px 100px;
}

.grid-container div {
    
}